{% extends 'layouts/base.html' %}

{% block content %}
<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Телефон</h4>
						<a href="tel:+99890 319 00 25 " class="lead">
							+99890 319 00 25
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<a href="mailto:yourmail@gmail.com" class="lead">
							yourmail@gmail.com
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<a href="" class="lead">
							Tashkent Shaharda chilonzor atlasda va yujni vogzal
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}