*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background: white;
}


.main__title{
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tel{
    background: #fff;
    padding: 50px;
    margin-bottom: 30px;
}
.number{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.number__name{
    font-weight: normal;
    font-size: 24px;
}
.number__num{
    color: white;
}
.number__num:hover{
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .number {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .number__name{
        text-align: center;
    }
  }